.center{
  text-align: center;
}

.sliderimg{
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.top-to-btm{
  position: relative;
}
.icon-position{
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon-style{
  background-color: #551B54;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;
}
.icon-style:hover{
  animation: none;
  background: #fff;
  color: #551B54;
  border: 2px solid #551B54;
}
@keyframes movebtn {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(20px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0px);
  }
}
.legend {
  transition: (all, 0.5s, ease-in-out);
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -45%;
  width: 90%;
  border-radius: 10px;
  background: #000;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  opacity: 0.8;
  transition: (opacity, 0.35s, ease-in-out);
  cursor: pointer;
}

.alice-carousel__prev-btn  {
  background-color: transparent !important;
  height: 50px !important;
  width: 25px !important;
  position: absolute;
  top: 45% !important;
  left: 3% !important;

}
.alice-carousel__next-btn{
  background-color:transparent !important;
  height: 50px !important;
  width: 25px !important;
  position: absolute;
  top: 45% !important;
  right: 4.5% !important;
}
.alice-carousel__prev-btn-item{
  font-size: 50px;
  color: #666 !important;
  font-weight: bolder;
  background-color: black;
  opacity: 0.5;
  border-radius: 10%;
}
.alice-carousel__next-btn-item {
  font-size: 50px;
  color: #666 !important;
  font-weight: bolder;
  background-color: black;
  opacity: 0.5;
  border-radius: 10%;
}

.header {
  text-align: center;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 20px;
}

.logo {
  height: 50% !important;
  max-width: 30% !important;
}

.JTTButton {
  position: absolute;
  bottom: 20%;
  left: 48%;
}

.ScrollDownButton {
  position: absolute;
  bottom: 2%;
  padding: 10px;
  left: 49%;
  cursor: pointer;
}

.frag3{
  border: 10px solid white !important;
  border-radius: 15px !important;
  background-color:#999 !important ;
  color: white;
}

.frag2{
  border: 10px solid white !important;
  border-radius: 15px !important;
  background-color:#0A0270 !important ;
  color: white;
}

.frag1{
  border: 10px solid white !important;
  border-radius: 15px !important;
  background-color:#0A0270 !important ;
  color: white;
}

.grid-col-1{
  margin: 25px !important;
  margin-top: 2% !important;
  padding-bottom: 3% !important;
  /* height: 350px !important; */
}

.car-img{
  margin-top: 63px;
  height: 90vh;
}

.hd-2{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 2% !important;
  margin-bottom: 2% !important;
}

.home-buttons{
  margin-top: -3%;
 padding: 2%;
 margin-left: 33%;
}

.ab-des{
  margin-bottom: 50px !important;
}

.pdc-add{
  height: 100px;
  width: 70%;
  margin-left: 10% !important;
  color: black;
}

.popup {
  position: fixed;
  z-index: 1000000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.popup-content {
  background-color: white;
  position: absolute;
  text-align: center;
  width: 35%;
  padding: 2%;
  border-radius: 15px;
  left: 50%;
  top: 50%;
  border: 5px double #4caafd;
  min-height: 250px !important;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.close {
  color: black;
  float: inline-end !important;
}

.takeMeThereButton {
  border-radius: 10px;
  background-color: #4caafd;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 3%;
  width: 95%;
  transition: all 0.5s;
  cursor: pointer;
  position: relative;
}

.takeMeThereButton span {
  cursor: pointer;
  display: inline-block;
  /* position: relative; */
  transition: 0.5s;
}

.takeMeThereButton span:after {
  content: '\00bb';
  font-size: 25px;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.takeMeThereButton:hover span {
  padding-right: 25px;
}

.takeMeThereButton:hover span:after {
  opacity: 1;
  right: 0;
}

.popUpTextMain {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  margin-bottom: 3%;
}

.NewIcon {
  transform: rotate(-30deg);
  margin-bottom: 3%;
}

.cont-hd{
  margin-left: 5%;
  margin-top: 10%;
  color: white;
}

.testi{
  border: 0px !important;
  color: #787878;
  background-color: #999 !important;
}

.but-m-o-t{
margin-right: 10% !important;
color: #000 !important
}

.but-b-o-v{
margin-left: 10px !important;
color: #000 !important
}

.bt-sq{
  text-align: center;
  color: #000 !important
}

.flex {
  display: flex;
  justify-content: center;
}

.ab-img{
  margin-top: 4%;
  margin-bottom: 20px !important;
  width: 80%;
  height: auto;
  border: 3px solid white !important;
  border-radius: 10px !important;
  margin-left: 10%;
}

.ab-desc{
  margin-left: 10% !important;
  margin-right: 10% !important;
  text-align: justify;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 11pt;
}

.testi-img {
  border-radius: 100%;
  width: 175px;
  margin-left: 44%;
}

.testi-name {
  text-align: center;
  margin-top: 3% !important;
}

.testi-designation {
  text-align: center;
  font-size: 10px !important;
}

.card-img{
  margin-right: 10% !important;
}

.carousel-root {
  width: 100% !important;
  margin: auto !important;
  margin-top: 3% !important;
}

.carousel .slide {
  background: #fff !important;
  color: black;
  height: 100%;
}

.carousel .slide img {
  width: 139px !important;
  border-radius: 50%;
}

.maxHeight {
  min-height: 120px !important;
  text-align: justify;
}

.myCarousel {
  background: #cdcdcd;
  margin-top: -6%;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 15px;
}

.bottom10 {
  margin-bottom: 1% !important;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
}

.myCarousel h3 {
  color: #222;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #787878;
  font-size: 14px;
}

.myCarousel p {
  font-weight: 100 !important;
  line-height: 29px !important;
  color: #222;
  font-size: 15px;
  font-family: sans-serif;
  max-height: 67px;
}

.myCarousel p:before {
  content: "“";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #454545 !important;
  outline: 0;
}

.carousel.carousel-slider .control-arrow{
background-color: black !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
  margin: 2%;
}

@media only screen and (max-width: 934px) {
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }
  .myCarousel {
    background: #fafafa;
    margin-top: -9%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
    height: 269px;
  }

  .carousel .slide img {
    width: 24% !important;
    border-radius: 50% !important;
  }
  .but-m-o-t{
    margin-left: -15% !important;
    margin-bottom: 5% !important;
    }
    
    .but-b-o-v{
    margin-left: -23% !important;
    }

    .ab-img{
      width:220% !important;
      height: 50% !important;
      margin-top: 10% !important;
    }

    .ab-desc{
      width:220% !important;
      height: 40% !important;
      margin-top: 150% !important;
      text-align: center !important;
      margin-left: -120% !important;
      margin-right: 0% !important;
      font-size: 15px !important;
      text-align: justify !important;
      
    }
    .cont-hd{
      font-size: small !important;
    }

    .pdc-add{
      font-size: 10px !important;
    }

    .ui .form{
      font-size: small !important;
    }

    .alice-carousel__prev-btn-item{
      display: none !important;
    }
    .alice-carousel__next-btn-item {
     display: none !important;
    }

}

