.center{
  text-align: center;
}

.sliderimg{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.legend {
  transition: (all, 0.5s, ease-in-out);
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -45%;
  width: 90%;
  border-radius: 10px;
  background: #000;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  opacity: 0.8;
  transition: (opacity, 0.35s, ease-in-out);
  cursor: pointer;
}

.alice-carousel__prev-btn  {
  background-color: transparent !important;
  height: 50px !important;
  width: 25px !important;
  position: absolute;
  top: 35% !important;
  left: 0% !important;

}
.alice-carousel__next-btn{
  background-color:transparent !important;
  height: 50px !important;
  width: 25px !important;
  position: absolute;
  top: 35% !important;
  right: 1.75% !important;
}
.alice-carousel__prev-btn-item{
  font-size: 50px;
  color: #666 !important;
  font-weight: bolder;
  background-color: black;
  opacity: 0.5;
  border-radius: 10%;
}
.alice-carousel__next-btn-item {
  font-size: 50px;
  color: #666 !important;
  font-weight: bolder;
  background-color: black;
  opacity: 0.5;
  border-radius: 10%;
}

.header {
  text-align: center;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 20px;
}

.frag2{
  background-color:#8f001a !important ;
  color: white;
}


.grid-col-1{
  margin: 25px !important;
  margin-top: 2% !important;
  padding-bottom: 3% !important;
  /* height: 350px !important; */
}

.car-img{
  width: 100vw;
  height: 100vh;
  /* width: calc(100vw); */
  /* height: calc(100vh - 50px); */
}

.hd-2{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.home-buttons{
  margin-top: -3%;
 padding: 2%;
 margin-left: 33%;
}

.ab-des{
  margin-bottom: 50px !important;
}

.pdc-add{
  height: 100px;
  width: 70%;
  margin-left: 10% !important;
  color: black;
}

.cont-hd{
  margin-left: 20%;
  color: white;
}

.testi{
  border: 0px !important;
  color: #787878;
  background-color: #fff !important;
}

.but-m-o-t{
margin-right: 10% !important;
color: rgb(2, 126, 209) !important;
}

.but-b-o-v{
margin-left: 10px !important;
color: rgb(2, 126, 209) !important;
}

.bt-sq{
  text-align: center;
  color: rgb(2, 126, 209);
}

.ab-img{
  margin: 0px;
  margin-bottom: 20px !important;
  width: 100%;
  border: black !important;
  border-width: 5px !important;
  border-radius: 10px !important;
  height: 270px !important;
  
}

.ab-desc{
  margin-left: 25% !important;
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  font-size: 18pt;
}

.card-img{
  margin-right: 10% !important;
}

.carousel-root {
  width: 100% !important;
  margin: auto !important;
  margin-top: 3% !important;
}

.carousel .slide {
  background: #fff !important;
  color: black;
  height: 100%;
}

.carousel .slide img {
  width: 139px !important;
  border-radius: 50%;
}

.myCarousel {
  background: #fafafa;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid #ddd;
  height: 286px;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
}

.myCarousel h3 {
  color: #222;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #787878;
  font-size: 14px;
}

.myCarousel p {
  font-weight: 100 !important;
  line-height: 29px !important;
  color: #222;
  font-size: 15px;
  font-family: sans-serif;
  max-height: 67px;
}

.myCarousel p:before {
  content: "“";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #454545 !important;
  outline: 0;
}

.carousel.carousel-slider .control-arrow{
background-color: black !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
  margin: 2%;
}

@media only screen and (max-width: 934px) {
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }
  .myCarousel {
    background: #fafafa;
    margin-top: -9%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
    height: 269px;
  }

  .carousel .slide img {
    width: 24% !important;
    border-radius: 50% !important;
  }
  .but-m-o-t{
    margin-left: -15% !important;
    margin-bottom: 5% !important;
    }
    
    .but-b-o-v{
    margin-left: -23% !important;
    }

    .ab-img{
      width:220% !important;
      height: 50% !important;
      margin-top:0% !important;
    }

    .ab-desc{
      width:220% !important;
      height: 40% !important;
      margin-top: 150% !important;
      text-align: center !important;
      margin-left: -120% !important;
      margin-right: 0% !important;
      font-size: 15px !important;
      text-align: justify !important;
      
    }
    .cont-hd{
      font-size: small !important;
    }

    .pdc-add{
      font-size: 10px !important;
    }

    .ui .form{
      font-size: small !important;
    }

    .alice-carousel__prev-btn-item{
      display: none !important;
    }
    .alice-carousel__next-btn-item {
     display: none !important;
    }

}

