
.center{
    text-align: center;
}

#user_image
{
    height:220px;
    width:220px;
}

#column{
    margin-bottom: 20px;
}

.buttonn {
    background-color: transparent !important;
    padding: 0 !important;
}

.titlePosition {
    min-height: 40px;
}

.paddingLeft {
    padding-left: 20px !important;
}

#contentContainer{
    text-align: left;
    margin: 20px 40px;
    font-size: 18px;
    justify-content: flex-start;
}

#meetVolunteersButton{
    margin-right: 20px;
}

#buttons-container{
    display: flex;
}

#socialMediaIcon{
    width:30px;
    height:30px;
    margin-right: 5px;
    position: absolute;
    top :90%;
    left:10%;
}

#socialMediaIconsContainer{
    display: flex;
    justify-content:left;
}

#image{
    border-radius:5px;
}

.titleFont{
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    text-align: left;
    padding-left: 5%;
    color: #FFFFFF;
   
    }
.subTitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    padding-left: 5%;
    padding-right: 3%;
    color: #FFFFFF;
   
    }
    .subTitles {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: left;
        padding-left: 5%;
        min-height: 40px;
        color: #FFFFFF;
        
        }
    
.titleHead{
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 78px;
    /* margin-left: 5%; */
    /* identical to box height */
    color: #FFFFFF;
    margin-top: 10% !important;
    }
    
.subheading{
    
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    /* margin-left: 5%; */
    
    /* identical to box height */
    color: #FFFFFF; 
    }
    
.rectangel{
    box-sizing: border-box;
    /* position: absolute; */
    width: 300px;
    height: 500px;
    left: 490px;
    top: 481px;
    background: #F5F5F5;
    }
    
.nfont{

    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 49px;
    color: black;
    
    }
    
.cardss{
    
        margin-bottom: 5%;
        min-width: 25%;
        min-height: 40%;
        margin-right: 5%;
        /* border: 1px solid #0070b8 !important; */
        margin-bottom: 5%;
        /* margin-left: 1% !important;   */
        background:#2A3257;
        width: 300px;
        height: 460px;
    
    }
    
.userimage{
    margin-top: 5% !important;  
    width: 220px;
    height: 220px;
}


.margingtop3{
    margin-top: -3%;
}
.ui.three.cards{ 
margin-right: 1% !important;
}
.padding1{
    padding-left: 1.5% ;
}