
.center{
    text-align: center;
}

#user_image
{
    height:250px;
    width:250px;
}

#column{
    margin-bottom: 20px;
}

.buttonn {
    background-color: transparent !important;
    padding: 0 !important;
}

.titlePosition {
    min-height: 40px;
}

.paddingLeft {
    padding-left: 20px !important;
}

#contentContainer{
    text-align: left;
    margin: 20px 40px;
    font-size: 18px;
    justify-content: flex-start;
}

#meetVolunteersButton{
    margin-right: 20px;
}

#buttons-container{
    display: flex;
}

#socialMediaIcon{
    width:32px;
    height:32px;
    margin-right: 5px;
}

#socialMediaIconsContainer{
    display: flex;
    justify-content: center;
}

#image{
    border-radius:5px;
}