.card{
  box-shadow: 0 2px 20px var(--clr-gray200);
  margin-bottom: 5%;
  /* margin-right: 1px; */
}

.marginRightBottom {
  margin-right: 5%;
  margin-bottom: 5%;
}

.cursor {
  /* cursor: pointer; */
  border: 1px solid #0070b8 !important;
  box-shadow: 10px 10px #dcdcdc !important;
  margin-bottom: 5%;
  margin-left: 5%;
  border-radius: 3%;
}

.ourTeamHead{
  padding-bottom: 3%;
}

.cardsCenter {
  display: flex;
  justify-content: center;
}

.body{
  justify-content: center;
}

.titleName{
  text-align: center;
  justify-content: center;
  height: 60px
}

.titlePosition{
  text-align: center;
  justify-content: center;
}

.btn{
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  display: flex;
  justify-content: center;  
  background: transparent;
  color: var(--clr-primary);
  border-radius: var(--radius);
  text-align: center;
}


.center{
  text-align: center;
}

.justify{
  text-align: justify;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}
.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
}
.photo {
  height: 200px;
  width: 200px;
  display: block;
  margin: auto;
  margin-top: 10%;
}

.marginTop{
  margin-top: 3%;
  margin-bottom: 3%;
}

.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted var(--clr-grey-5);
}
.item-info h4 {
  margin-bottom: 0.5rem;
}

#user_image
{
  height:250px;
  width:250px;
}

#column{
  margin-bottom: 20px;
}

#contentContainer{
  text-align: left;
  margin: 20px 40px;
  font-size: 18px;
  justify-content: flex-start;
}

#meetVolunteersButton{
  margin-right: 20px;
}

#buttons-container{
  display: flex;
}

#socialMediaIcon{
  width:32px;
  height:32px;
  margin-right: 5px;
}

#socialMediaIconsContainer{
  display: flex;
  justify-content: center;
}

#image{
  border-radius:5px;
}