.backWhite {
    background-color: white !important;
}

.hr {
    margin-bottom: 3%;
}

.loadingState {
    display: flex;
    justify-content: center;
    margin-top: 15%;
    margin-bottom: 15%;
}

.padding10 {
    padding: 10px;
}

.border {
    border: 2px solid black !important;
}

.heading {
    text-align: center;
    margin-top: -25px;
}

.projectItem {
    border: 1px solid #ccc;
    padding: 1%;
    margin: 1%
}

.imageHeader {
    /* width: 100%; */
    /* max-height: 150px; */
    background-color: #d8d8d8;
}

.marginBottom {
    margin-bottom: 10% !important;
}

.heightSetting {
    height: 275px;
}

.postedOnBg {
    background-color: silver;
}

.cursor {
    /* cursor: pointer; */
    border: 1px solid #0070b8 !important;
    box-shadow: 10px 10px #dcdcdc !important;
}

.HeaderHeight {
    height: 160px;
}

.nameHeader {
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
}

.hostedByHeader {
    text-align: center;
    padding: 3%;
    background-color: wheat;
}

.tagsHeader {
    display: flex !important;
    justify-content: center !important;
}

.imageRow {
    height: 150px;
}

.nameRow {
    margin-top: 5%;
}

.hostedByRow {
    margin-top: 5%;
}

.searchbar {
    padding: 1%;
    border-radius: 5px;
    min-width: 100%;
    height: 35px;
}

.roww {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.rowWoCenter {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    margin-left: 10%;
}

.rowCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.searchIcon {
    margin-top: 9px !important;
}

.search {
    width: 70%
}

.alignCenter {
    justify-content: center;
}

.alignRight {
    display: flex;
    flex-direction: row;
    float: right;
    width: 30%;
    margin-right: -5%;
}

.select {
    margin: 5px;
    /* margin-left: 0px;
    margin-top: 10px; */
}

@media screen and (max-width: 450px) {
    .mobCenter {
        text-align: center;
    }

    .searchIcon {
        /* display: flex; */
        margin-top: 10% !important;
        justify-content: center;
    }

    .HeaderHeight {
        height: 55%;
    }

    .heightSetting {
        height: 100%;
    }

    .mobTagsHeight {
        height: 50%;
    }

    .mobTextSmall {
        font-size: 12px !important;
    }

    .loadingState {
        display: flex;
        justify-content: center;
        margin-top: 100%;
    }
}

@media screen and (min-width: 451px) and (max-width: 1025px) {

    .HeaderHeight {
        height: 65%;
    }

    .heightSetting {
        height: 350px;
    }

    .mobTextSmall {
        font-size: 11px !important;
    }

    .loadingState {
        display: flex;
        justify-content: center;
        margin-top: 100%;
    }

}